name: Java Gradle Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-and-test:
    runs-on: windows-latest

    env:
      JAVA_HOME: C:\Program Files\Java\jdk-11.0.28
      PATH: ${{ env.JAVA_HOME }}\bin:${{ env.PATH }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper/
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Start SUT (app-order.jar)
        run: |
          Start-Process -NoNewWindow -FilePath java -ArgumentList '-jar .\artifacts\app-order.jar'
          Start-Sleep -Seconds 5   # ждём 5 секунд, чтобы сервер поднялся

      - name: Run Gradle tests
        run: .\gradlew.bat test -Dselenide.headless=true --info
